@model IEnumerable<Article>

@foreach (var item in Model)
{
    <div class="media">
        <div class="media-left">
            <a href="/n/@item.CuratedTitle"> <img class="media-object" style="width: 64px; height: 64px;" alt="64x64" src="@item.Image" data-src="holder.js/64x64" data-holder-rendered="true"> </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading"><a href="/n/@item.CuratedTitle">@item.Title</a></h4> @item.SubTitle
            <p class="small"><time>@item.PublishDate</time></p>
        </div>
    </div>
}