@model IEnumerable<Article>

@foreach (var item in Model)
{
    <div class="media">
        <div class="media-left">
            <a href="#"> <img class="media-object" style="width: 64px; height: 64px;" alt="64x64" src="https://i.guim.co.uk/img/static/sys-images/Guardian/Pix/pictures/2015/5/22/1432299215355/baff131f-a335-44eb-ad66-03c52c5c2213-620x372.jpeg?w=700&q=85&auto=format&sharp=10&s=31a22f00a85840740c2a8af5604abfb0" data-src="holder.js/64x64" data-holder-rendered="true"> </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading">@item.Title</h4> @item.SubTitle
        </div>
    </div>
}


