@{
    ViewData["Title"] = "About";
}
@using Microsoft.Extensions.Localization;
@inject IStringLocalizer<BeamLab.Koala.Web.Controllers.HomeController> CLocalizer

<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>@CLocalizer["CTitle"]</p>
