@model BeamLab.Koala.Web.Models.Article

<div class="container">
    <div class="row">
        <div class="col-md-12">

            <div class="row">
                <div class="col-md-12">
                    <h1>@Model.Title</h1>
                    <h3><i>@Model.SubTitle</i></h3>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-8 text-justify">
                    @Html.Raw(Model.Body)
                </div>

                <div class="col-md-4">
                    <img src="@Model.Image" />
                </div>
            </div>
        </div>
    </div>
</div>